<div class="p-4 space-y-4 bg-white border border-gray-300 rounded">
   <div class="flex items-center justify-between">
      <div class="flex items-center space-x-4">
         <a class="px-4 py-2 font-bold text-pink-600 bg-white border-2 border-pink-600 rounded" href="">Start
            over</a>
         <p class="text-sm">Step 3 of 3 - Summary</p>
      </div>

      <div class="flex items-center space-x-4">
         <a class="px-4 py-2 font-bold text-pink-600 bg-white border-2 border-pink-600 rounded" href="">Back</a>
         <a class="px-4 py-2 font-bold text-white bg-pink-600 border-2 border-pink-600 rounded" href="">Add
            all to BrightHR</a>
      </div>
   </div>
</div>